.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 67px);
    overflow: hidden;
}

.message p{
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.reply{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reply p{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    width: 100%;
    text-align: center;
}